* {
    margin: 0;
    padding: 0;
}

.topbar {
    padding: 16px;
    box-shadow: 0px 1px 10px rgba(246, 80, 80, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1px;
}

.topbar div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.topbar div * {
    margin: 0 16px;
    font-size: 12px;
    color: #393939;
    font-weight: 400;
}

.breakingNewsBtn {
    background: #F65050;
    padding: 15px 7px;
    border: none;
    color: #fff !important;
    margin: -100px 0 !important;
    height: 65px;
}

.max-desktop {
    max-width: 1170px;
    margin: auto;
}


@media (max-width:952px) {
    .breakingNewsBtn {
        margin: 0 !important;
    }

    .topbar div {
        justify-content: center !important;
    }

    .topbar div * {
        margin: 16px;
    }

    .topbar {
        justify-content: center !important;
    }

    .newcast-short {
        flex-direction: column;
        justify-content: center;
        padding: 16px;
    }

}



.search {
    border-left: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    height: 0px;
    display: flex;
    align-items: center;
}

.search input {
    background: transparent;
    outline: none;
    appearance: none;
    color: white;
    border: none;
}

.search img {
    width: 10px;
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}


@media (max-width:1070px) {
    .search {
        width: 100%;
        justify-content: space-between;
    }

    .search img {
        height: 23px !important;
        width: 25px !important;
    }
}